# Ignore Mac system files
.DS_store
# Ignore root files
# Ignore all .pcm and .o files
*.png
*.pdf
*.pyc
*.o
*.so
*.out
*.pcm
*__pycache__/
*.pytest_cache
# Ignore IDE specific files
.vscode/
*.sw*
.nfs*
.idea/